extends layout

block styles
  link(href="/resource/styles/pure-min.css" type="text/css" rel="stylesheet")
  link(href="/styles/index.css" type="text/css" rel="stylesheet")
block content
  .container
    .files
      .title 目前在以下文档中查找数据
      - for (var i=0;i<files.length;i++)
        div.file
          | [
          =files[i]
          | ]
      .desp 
        | 最多可同时
        span.filesize [#{maxfile}]
        | 文档
    .pure-form.pure-g.searchform
      input.pure-input.pure-u-3-8#searchTextId(type="text" placeholder="请输入要查找的内容")
      button.btn_search.pure-button.pure-button-primary.pure-u-1-8(onclick="doSearch()") 搜索
    
    p.msg#msgId
    select#pageSelectId(onchange="pageChange()")
    #resultList

block scripts
  script(src="/resource/js/jquery-3.3.1.min.js" type="text/javascript")
  script(src="/resource/js/lodash.min.js" type="text/javascript")
  script(src="/js/index.js" type="text/javascript")